In [2]:
# Import libraries and dependencies
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pathlib import Path
import seaborn as sns
import matplotlib

%matplotlib inline

In [3]:
import os
os.getcwd()

'/Users/philipbonner/Desktop/Project - Team 5/Whole Covid Data'

In [4]:
gold=Path('gold-Current.csv')
silver_prices_df = Path('Silver Whole Portfolio')
platinum_prices_df = Path ('Platinum Portfolio Whole.xlsx')
bitcoin_prices_df = Path ('Bitcoin Whole Portfolio.xlsx')
ethereum_prices_df = Path('Ethereum Whole Portfolio.xlsx')

In [5]:
pd.read_csv(gold)

,Market,Perth Mint Spot,Perth Mint Spot.1,Perth Mint Spot.2,Perth Mint Spot.3,Perth Mint Spot.4,Perth Mint Spot.5,Perth Mint Spot.6,Perth Mint Spot.7,Perth Mint Spot.8,Perth Mint Spot.9,Perth Mint Spot.10,Perth Mint Spot.11,Perth Mint Spot.12,Perth Mint Spot.13,Perth Mint Spot.14,Perth Mint Spot.15,Perth Mint Spot.16,Perth Mint Spot.17,Lease Rates
0,Metal/Currency,Gold,Gold,Gold,Gold,Gold,Gold,Gold,Gold,Gold,Gold,Gold,Gold,Gold,Gold,Gold,Gold,Gold,Gold,6 Month
1,Priced In,USD,USD,AUD,AUD,JPY,JPY,USD,USD,AUD,AUD,JPY,JPY,USD,USD,AUD,AUD,JPY,JPY,Gold
2,Price Type,Bid,Ask,Bid,Ask,Bid,Ask,Bid,Ask,Bid,Ask,Bid,Ask,Bid,Ask,Bid,Ask,Bid,Ask,% pa
3,Summary,High,High,High,High,High,High,Low,Low,Low,Low,Low,Low,Average,Average,Average,Average,Average,Average,NaN
4,01/01/16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1673,27/07/20,1936.67,1944.6,2718.33,2730.26,204304.97,205349.76,1898.23,1906.24,2674.32,2686.36,201117.47,202099.56,1926.34,1934.3,2702.5,2714.37,203403.54,204364.5,NaN
1674,28/07/20,1975.65,1983.72,2753.9,2765.92,207818.62,209044.41,1909.08,1917.08,2677.53,2690.26,201541.58,202520.33,1940.37,1948.45,2716.02,2728.18,204588.59,205603.76,NaN
1675,29/07/20,1956.22,1964.2,2726.95,2739.15,205341.23,206306.04,1946.81,1955.01,2716.35,2728.56,204415.05,205412.9,1951.84,1959.84,2721.76,2733.99,204907.74,205887.04,NaN
1676,30/07/20,1965.46,1973.61,2738.47,2750.11,206266.73,207229.05,1948.56,1956.36,2729.34,2740.58,204676.74,205672.13,1957.9,1965.82,2733.17,2744.95,205730.9,206685.32,NaN
1677,31/07/20,1973.03,1981.05,2742.54,2755.67,206511.82,207534.8,1952.58,1960.68,2712.08,2723.72,204384.99,205345.05,1966.15,1974.08,2727.78,2739.7,205244.42,206203.89,NaN

In [26]:
silver_prices = pd.read_excel(silver_prices_df, index_col='Date', infer_datetime_format = True, parse_dates = True)
silver_prices = silver_prices.sort_index()
silver_prices.head()

FileNotFoundError: [Errno 2] No such file or directory: '../Silver Whole Portfolio'